* {
    margin: 0px;
    padding: 0px;
}

.container-fluid{
	width: 50%;
	margin: auto;
  align-content: center;
}

.invisible {
	display: none;
}
.container{
	width: 50%;
	margin: auto;
}

@media screen and (max-width: 301px) {
  div.example {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 13px;
    width: 90%;
  }
}
.btn-outline-primary{
    text-align: center;
    width: 100%;
    /*height: 38px;*/
    background-color: white;
    border-width: medium;
    border-radius: 3px;


}
.card{
    padding-bottom: 10px;
    padding-left: 10px;
}
.img-fluid{
    height: content-box;
    padding-top: 10px;
}
.mb-3{
    margin-top: 15px;
}
/*.form-control{*/
/*    border-width: 3px;*/
/*}*/
/*.border {*/
/*    border: 0px solid #dee2e6!important;*/
/*}*/
h7 {
    font-weight: bold;
}
p {
    margin-bottom: 0.5rem;!important;
}
.boxContainer{
    border: 0.5px solid;
    border-color: #E9E9EA;
    border-radius:1.5px;
    height: 40px;


}
.elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 17px;
}
.search:focus{
    outline: none;
}
@media(max-width:573px) {
    .btn-outline-primary {
        margin-bottom: 5px;
    }
}
.material-icons{
    padding-left: 50%;
    padding-top: 8px;
}
.border{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
}
.A{
    margin-top: 30px;
}
